run = "gunicorn --bind 0.0.0.0:5000 main:app"
modules = ["web", "python-3.11", "nix"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:5000 main:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-fea9ded0-63e7-4044-a3a2-08898782d123"
