<!doctype html>
<html>
  <head>
    <title>{% block title %}base{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css" />"
      <link href="{{ url_for('static', filename='buttons.css') }}" rel="stylesheet" type="text/css" />"
      <link href="{{ url_for('static', filename='forms.css') }}" rel="stylesheet" type="text/css" />"
      <link href="{{ url_for('static', filename='grids.css') }}" rel="stylesheet" type="text/css" />"
  </head>
</html>
<body>
  <div id="content" name="content">
    {% block content %}
    {% endblock %}
  </div>
</body>